.venv/*
*__pycache__/
*.pyc
.DS_Store   
.env
.idea/
.vscode/
logs/
*.log
dist/
build/
*.egg-info/
coverage/
htmlcov/
pytest_cache/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.cache/
coverage
*.sqlite3
